<template name="listStatuses">
	<div class="col-md-10">
		<hr>
		{{#if Template.subscriptionsReady}}
			{{#each statuses}}
				<div class="well status">
					<div class="media">
						<div class="media-body">
							{{#if isOwnerOfStatus owner}}
								<button type="button" class="btn btn-warning btn-xs pull-right"
								        data-action="removeStatus" title="Remove status" >
									<i class="fa fa-minus"></i>
								</button>
							{{/if}}
							<p>
								<strong>{{firstName}}</strong> posted on
								<strong>{{statusDate createdAt}}</strong>
							</p>
							<p>
								{{status}}
							</p>
						</div>
					</div>
				</div>
			{{else}}
				<p>Nothing found</p>
			{{/each}}
		{{else}}
			<p> Loading....</p>
		{{/if}}
	</div>
</template>